---
import ProjectSection from "@/components/ProjectSection"
import PostsSection from "@/components/PostsSection"
import Timeline from "@/components/Timeline"
import Avatar from "@/components/Avatar"
import Layout from "@/layouts/Layout.astro"
import { HiOutlineArrowDownCircle as DownIcon } from "react-icons/hi2"
import "@/styles/globals.css"
import { BIO } from "@/content/bio"
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme")
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light"
  }

  const isDark = getThemePreference() === "dark"
  document.documentElement.classList[isDark ? "add" : "remove"]("dark")

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark")
      localStorage.setItem("theme", isDark ? "dark" : "light")
    })
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    })
  }
</script>

<Layout>
  <main class="p-4 text-slate-700 dark:text-slate-400">
    <section class="flex flex-col w-full h-screen justify-center items-center">
      <p class="max-w-56 text-center">
        Hello, I'm <strong>Fahim</strong>, a fullstack developer from
        Bangladesh
      </p>
      <DownIcon className="text-2xl animate-bounce mt-10" />
    </section>
    <!-- <section class="flex flex-col w-full justify-center items-center gap-28">
      <h2 class="font-bold">Projects</h2>
      <ProjectSection client:load />
    </section> -->
    <section
      class="flex flex-col w-full justify-center items-center gap-28 mt-56"
    >
      <h2 class="font-bold">About me</h2>
      <div class="flex flex-col items-center gap-4 max-w-[500px]">
        <Avatar src="/profile-picture.jpg" alt="Alejandro Londoño" client:load />
        <p class="text-center">
          My name is <strong>Fahim Ferdous</strong>, with a background in computer science and enginnering, machine learning and networking as 
          my major. I currently specialize in web development.
        </p>
        <p class="text-center">
          Web developer with a strong interest in gaming, exploring new technologies, reading, and fitness. Enthusiastic about continuous learning and currently open to job opportunities. Prefers independent work but collaborates effectively when needed.

        </p>
      </div>
    </section>
    <section
      class="flex flex-col w-full justify-center items-center gap-28 mt-56"
    >
      <h2 class="font-bold">Bio</h2>
      <Timeline content={BIO} />
    </section>
    <section
      class="flex flex-col w-full justify-center items-center gap-28 mt-56"
    >
      <h2 class="font-bold">Software Skills</h2>
      <PostsSection client:load />
    </section>
  </main>
  <footer>
    <p class="text-center text-sm text-slate-700 dark:text-slate-400 p-4 mt-28">
      Made with &#x2665; by Fahim Ferdous
    </p>
  </footer>
</Layout>
